<web-app>
        <servlet>
                <servlet-name>hello</servlet-name>
                <servlet-class>com.abc.HelloServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>hello</servlet-name>
                <url-pattern>/calls1</url-pattern>
        </servlet-mapping>
</web-app>

